.idea
.vscode
upload
*.exe
*.db
build
*.db-journal
logs
data
web/**/node_modules
web/**/dist
web/default_legacy
*.exe.local
cmd.md
.env
/one-api
temp
.DS_Store
*.bak
electron/node_modules
electron/out
electron/dist
deploy/node_modules
# Release builds
release/

*.log